[submodule "PotionTaster/Plugins/IRB.wcplugin"]
	path = PotionTaster/Plugins/IRB.wcplugin
	url = git@github.com:potionlab/IRB.wcplugin.git
[submodule "PotionTaster/Plugins/HTML.wcplugin"]
	path = PotionTaster/Plugins/HTML.wcplugin
	url = git@github.com:potionlab/HTML.wcplugin.git
[submodule "PotionTaster/Plugins/Shared-Test-Resources.wcplugin"]
	path = PotionTaster/Plugins/Shared-Test-Resources.wcplugin
	url = git@github.com:potionlab/Shared-Test-Resources.wcplugin.git
